.container {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 999px) {
  .container {
    max-width: 70vw;
  }
}

@media screen and (max-width: 599px) {
  .container {
    max-width: 95vw;
  }
}

.list > *:not(:last-child) {
  margin-bottom: .5rem;
}

.listControls {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.listControls > * {
  margin-top: .5rem;
}

.listControls > *:not(:last-child) {
  margin-right: .5rem;
}

.controlLabel {
  display: inline-flex;
  flex-direction: column;
  font-size: 0.85rem;
  color: gray;
}

.loader {
  margin: 5rem auto;
}